<h3><%=@name%></h3>
<ul>
<li><i>Major Release Number:</i> <%= @rel_major %></li>
<li><i>Minor Release Number:</i> <%= @rel_minor %></li>
<li><i>Processor Architecture:</i> <%= @p_arch %></li>
<li><i>Pxe Kernel and Initrd url:</i> <%= @url %></li>
<li><i>inst_repo:</i> <%= @inst_repo %></li>
<li><i>kernel name:</i> <%= @pxekernel %></li>
<li><i>Initrd file extension:</i> <%= @initrd %></li>
<li><i>Linux Installer:</i> <%= @linux_installer %></li>
<li><i>PuppetLabs Repo:</i> <%= @puppetlabs_repo %></li>
</ul>
