<html>
<head><title> <%= @distro %> <%@= @release%> <%=@p_arch%></title></head>
<body>
<h1>Operating System: <%= @distro %> </h1>
<h2>Release Number: <%= @release %></h2>
<ol>
<li>Major Release Number: <%= @rel_major %></li>
<li>Minor Release Number: <%= @rel_minor %></li>
<li>Processor Architecture: <%= @p_arch %></li>
<li>Pxe Kernel and Initrd url: <%= @url %></li>
<li>inst_repo: <%= @inst_repo %></li>
<li>kernel name: <%= @pxekernel %></li>
<li>Initrd file extension: <%= @initrd %></li>
<li>Linux Installer: <%= @linux_installer %></li>
<li>PuppetLabs Repo: <%= @puppetlabs_repo %></li>
<% if  @is_fedora %>
<li>Centos Distro = <%= @is_centos %></li>
<li>Centos Legacy = <%= @centos_legacy %></li>
<li>Centos URL = <%= @centos_url %></li>
<% end -%>
<% if @is_fedora%>
<li>Fedora Distro = <%= @is_fedora %></li>
<li>Fedora Legacy = <%= @fedora_legacy %></li>
<li>Fedora URL = <%= @fedora_url %></li>
<% end -%>
<% if @is_oracle %>
<li>Oracle Distro = <%= @is_oracle %></li>
<% end -%>
</ol>
</body>
</html>
